.page {
  margin-top: 16px;
  display: flex;
}

.bandInfoContainer {
  width: 50%;
  color: lightgray;
  text-align: center;
  padding: 16px;
  margin: 16px;
}

.bandPhotoContainer {
  width: 50%;
  display: grid;
  grid-template-columns: auto auto;
}

.bandPhoto {
  margin-top: 16px;
  width: 200px;
  justify-self: center;
}