.page {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.frameContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.socialContainer {
  width: 30%;
}

.facebook {
  margin-right: 16px;
  border: solid 3px lightgray;
}

.topMargin {
  margin-top: 0 !important;
}

.extraSmallFacebook {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 16px;
  margin-bottom: 16px;
  border: solid 3px lightgray;
}

.twitter {
  width: 340px;
  border: none;
}

.twitterMargin {
  margin-left: 32px;
}

.outerPicContainer {
  width: 30%;
  display: flex;
  justify-content: center;
}

.horizontalOuterContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.largeGridPhoto {
  width: 157px !important;
}

.horizontalGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
  grid-column-gap: 16px;
}

.colPhoto {
  width: 100px;
  justify-self: center;
  align-self: center;
  height: auto;
}

@media only screen and (max-width: 1060px) { 
  .largeGridPhoto {
    width: 120px !important;
  }
}
