.bandPhotoContainer {
  width: 50%;
  display: grid;
  grid-template-columns: auto auto;
}

.bandPhoto {
  margin-top: 16px;
  width: 200px;
  justify-self: center;
}

.page {
  margin-top: 16px;
  display: flex;
}

.frameContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.socialContainer {
  width: 50%;
}