.page {
  margin-top: 16px;
  display: flex;
}

.frameContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.socialContainer {
  width: 50%;
}

.facebook {
  margin-right: 16px;
}

.extraSmallFacebook {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}