.page {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flyer {
  width: 50%;
  height: 50%;
  margin-bottom: 16px;
}

.tourCard {
  display: flex;
  width: 80%;
  margin: 6px;
  margin-top: 0px;
  border: solid 1px lightgray;
}

.tourDateContainer {
  display: flex;
  padding: 3px;
  color: lightgrey;
  align-items: center;
  font-weight: bold;
  width: 100%;
  justify-content: space-between;
}

.innerContainer {
  display: flex;
}

.city {
  font-weight: normal;
  padding-left: 16px;
  margin-right: 6px;
}

.venue { 
  padding-left: 16px;
}

.date {
  color: white;
}

.ticketButton {
  background-color: transparent;
  height: 100%;
  color: lightgray;
  font-weight: bold;
  padding: 6px;
}

.ticketButton:hover {
  background-color: lightgray;
  color: white;
  border: solid 2px white;
}