.nav {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
}

.logo {
  height: 65px;
}

.pageLinkContainer {
  display: flex;
  align-items: center;
  color: white;
  height: 45px;
  padding-left: 16px;
}

.pageLink {
  height: 100%;
  border: none;
  color: white;
  margin-right: 16px;
  background-color: #0D0907;
  height: 100%;
  font-weight: bold;
  font-size: 12px;
}

.pageLink:hover {
  color: lightgray;
}

.menuIcon {
  width: 30px;
}

.menuButton {
  display: none;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}


@media only screen and (max-width: 500px) {

  .pageLinkContainer {
    display: none;
  }

  .menuButton {
    display: inherit;
  }
}