h1 {
  margin-top: 16px;
  color: white;
  text-align: center;
}

.gridPhotoContainer {
  margin-top: 71px;
  width: 50%;
  display: grid;
  row-gap: 16px;
  column-gap: 16px;
  grid-template-columns: auto auto;
}

.gridPhoto {
  width: 200px;
  justify-self: center;
}

/* small screens */
@media only screen and (max-width: 900px) {
  .gridPhotoContainer {
    width: 50%;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: 150px;
    row-gap: 16px;
    column-gap: 16px;
    grid-auto-flow: dense;
  }
  
  .gridPhoto {
    width: 150px;
    justify-self: center;
    align-self: center;
    height: auto;
  }
}

/* extra small screens */
@media only screen and (max-width: 650px) {
  .gridPhotoContainer {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: 120px;
    column-gap: 16px;
    grid-auto-flow: dense;
    width: 100%;
  }
  
  .gridPhoto {
    width: 120px;
    justify-self: center;
    align-self: center;
    height: auto;
    margin-right: 16px;
  }

  .extraSmallCenter {
    display: flex;
    justify-content: center;
  }
}